*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.a{
    display: flex; justify-content: space-around;margin-top: 75px;
}
h1{
      text-align: center;font-size: 50px;margin-top: 128px;
}
.qizil{
    width: 558px;height: 452px;background-color: red;align-items: center;display: flex;justify-content: center;margin-top: 128px;
}
.box{
    display: flex; justify-content: space-around;
}
.qizil h2{
font-size: 35px;color: white;
}






